@model Atomac.DTO.DTOGame

@{ Layout = "~/Views/Shared/_LayoutGame.cshtml"; }
@{ ViewBag.Title = "Atomac - Nova Igra"; }

@Styles.Render("~/Content/chessboard")

<div id="leftSide" class="mainContainer">
    <table id="ruleTable">
        <thead>
            <tr>
                <td>Pravilo</td>
                <td>Moj izbor</td>
                <td>@Model.Team1.Name</td>
                <td>@Model.Team2.Name</td>
            </tr>
        </thead>
        <tbody id="tableBody" style="background-color: white"></tbody>
    </table>
</div>

<div id="rightTop" class="sideContainer">
    <div class="row">
        <div class="col-md-4">
            <div>
                <div class="teamInfoContainer">
                    <h4>Izazivaci: @Model.Team1.Name</h4>
                    <h5>Clanovi:</h5>
                    <ul>
                        <li>@Model.Team1.Capiten.FirstName @Model.Team1.Capiten.LastName (@Model.Team1.Capiten.NickName)</li>
                        <li>@Model.Team1.TeamMember.FirstName @Model.Team1.TeamMember.LastName (@Model.Team1.TeamMember.NickName)</li>
                    </ul>
                    <h5>Poeni: @Model.Team1.Points</h5>
                </div>
                <div class="teamInfoContainer">
                    <h4>Izazvani: @Model.Team2.Name</h4>
                    <h5>Clanovi:</h5>
                    <ul>
                        <li>@Model.Team2.Capiten.FirstName @Model.Team2.Capiten.LastName (@Model.Team2.Capiten.NickName)</li>
                        <li>@Model.Team2.TeamMember.FirstName @Model.Team2.TeamMember.LastName (@Model.Team2.TeamMember.NickName)</li>
                    </ul>
                    <h5>Poeni: @Model.Team2.Points</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ovaj cet da se prepravi da bude samo za partiju -->
<div id="rightBottom" class="chatContainer">
    <input class="form-control" type="text" id="messageInGame" />
    @*<input type="button" id="sendmessageInGame" value="Send" />*@
    <input type="hidden" id="uNameGame" value=@ViewBag.NickName />
    <ul id="GameDiscussion" style="overflow:auto"></ul>
</div>

<input type="hidden" id="myId" value=@User.Identity.Name />
<input type="hidden" id="myCapitenId" value=@ViewBag.CapId />
<input type="hidden" id="myGameId" value=@Model.Id />
<input type="hidden" id="myTeamId" value=@ViewBag.MyTeamId />
<input type="hidden" id="firstTeam" value=@ViewBag.FirstTeam />
<input type="hidden" id="secondTeam" value=@ViewBag.SecondTeam />

@section Scripts
{

    @Scripts.Render("~/bundles/chessboardGamePlay")
    @Scripts.Render("~/bundles/chessboard")
    @Scripts.Render("~/bundles/timer")
    <script src="~/Scripts/PublicChat.js"></script>
    <script src="~/Scripts/NewGame.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var myId = $("#myId").val();
            var capId = $("#myCapitenId").val();
            if (myId != capId) {
                $('#ruleTable').css({ "pointer-events": "none", "opacity": "0.7" });
                $('#okButton').css({ "pointer-events": "none", "opacity": "0.7" });
            }
        });
    </script>

}