@model Atomac.DTO.DTOGame

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rules.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rules.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team2.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team2.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tokens)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tokens)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
