@{ ViewBag.Title = "Igra"; }

@Styles.Render("~/Content/datatables")

<input type="hidden" value=@User.Identity.Name id="userEmail" />

    <div class="dataTablesContainer">
        <div class="thirdContainer">
            <table id="korisnici-table" class="table table-hover table-condensed">
                <!-- ovde crta datatable -->
            </table>
        </div>
        <div class="thirdContainer">
            <table id="recent-table" class="table table-hover table-condensed">
                <!-- ovde crta datatable -->
            </table>
        </div>
        <div class="thirdContainer">
            <table id="opponents-table" class="table table-hover table-condensed">
                <!-- ovde crta datatable -->
            </table>
        </div>
    </div>
    <div class="globalChatContainer">
        <div class="chatMessagesContainer">
            <ul id="discussion"></ul>
        </div>
        <div class="chatControlsContainer">
            <input class="form-control" type="text" id="message" />
            @*<input class="btn btn-sm btn-success" type="button" id="sendmessage" value="Send" />*@
            <input type="hidden" id="displayname" />
            <input type="hidden" id="uName" value=@ViewBag.NickName />
        </div>
    </div>

@section scripts
{
    
    @Scripts.Render("~/bundles/datatables")

    <script type="text/javascript">

        var assetListUsers;

        $(() => {
            assetListUsers = {
                dt: null,
                init: () => {
                    dt = $('#korisnici-table').dataTable({
                        "serverSide": true,
                        "processing": true,
                        //"autoWidth": false,
                        "pageLength": 10,
                        "dom": 'ftp',
                        "language": {
                            "paginate": {
                                "next": "<span>→</span>",
                                "previous": "<span>←</span>"
                            }
                        },
                        "ajax": {
                            "url": "@Url.Action("GetActiveUsers", "DataTables")",
                            "type": "POST"
                        },
                        "columns": [
                            {
                                "searchable": true, "sortable": false,
                                render: (data, type, row) => {
                                    return "<div class='listItem'>\
                                        <label>" + row.nickName + "</label>\
                                        <label>" + row.points + "</label>\
                                        <button id='" + row.email + "' class='btn btn-sm btn-success pDugme' data-nickname='" + row.nickName + "' data-toggle='modal' data-target='#myModal'>\
                                        <span class='glyphicon glyphicon-plus'></span>\
                                        <span>Invite to team</span></button></div>";
                                }
                            }
                        ]
                    });
                }
            };

            assetListUsers.init();

        });

        function addStatusClass(status) {
            switch (status) {
                case 0: return "teamOffline";
                    break;
                case 1: return "teamBusy";
                    break;
                case 2: return "teamActive";
                    break;
            }
        }

        var assetListRecentTeams;

        $(() => {
            assetListRecentTeams = {
                dt: null,
                init: () => {
                    dt = $('#recent-table').dataTable({
                        "serverSide": true,
                        "processing": true,
                        //"autoWidth": false,
                        "pageLength": 10,
                        "dom": 'ftp',
                        "language": {
                            "paginate": {
                                "next": "<span>→</span>",
                                "previous": "<span>←</span>"
                            }
                        },
                        "ajax": {
                            "url": "@Url.Action("GetRecentTeams", "DataTables")",
                            "type": "POST",
                            "data": (d) => {
                                d.userEmail = "@Context.User.Identity.Name";
                            }
                        },
                        "columns": [
                            {
                                "searchable": true, "sortable": false,
                                render: (data, type, row) => {
                                    //row.name je teamname
                                    if (row.status == 4)
                                    {
                                        return "<div class='listItem " + addStatusClass(row.status) + "'>\
                                        <label>" + row.name + "</label><label>" + row.capitenNick + " & "
                                                 + row.teamMemberNick + "</label>\
                                        <label>" + row.points + "</label>\
                                        <button id='" + row.capitenEmail + "' class='btn btn-sm btn-primary disabled currentTeam' data-teamname='" + row.name + "'>\
                                        <span id='" + row.teamMemberEmail + "' style='display: none' class='teamMember'> </span>\
                                        <span>Team is active</span></button></div>";
                                    }
                                    else {
                                        return "<div class='listItem " + addStatusClass(row.status) + "'>\
                                        <label>" + row.name + "</label><label>" + row.capitenNick + " & "
                                                    + row.teamMemberNick + "</label>\
                                        <label>" + row.points + "</label>\
                                        <button id='" + row.capitenEmail + "' class='btn btn-sm btn-success activateTeam' data-teamname='" + row.name + "'>\
                                        <span id='" + row.teamMemberEmail + "' class='teamMember' style='display: none' class='teamMember'> </span>\
                                        <span class='glyphicon glyphicon-plus'></span>\
                                        <span>Activate team</span></button></div>";
                                    }
                                }
                            }
                        ]
                    });
                }
            };

            assetListRecentTeams.init();

        });

        var assetListActiveTeams;

        $(() => {
            assetListActiveTeams = {
                dt: null,
                init: () => {
                    dt = $('#opponents-table').dataTable({
                        "serverSide": true,
                        "processing": true,
                        //"autoWidth": false,
                        "pageLength": 10,
                        "dom": 'ftp',
                        "language": {
                            "paginate": {
                                "next": "<span>→</span>",
                                "previous": "<span>←</span>"
                            }
                        },
                        "ajax": {
                            "url": "@Url.Action("GetActiveTeams", "DataTables")",
                            "type": "POST",
                            "data": (d) => {
                                d.userEmail = "@Context.User.Identity.Name";
                            }
                        },
                        "columns": [
                            {
                                "searchable": true, "sortable": false,
                                render: (data, type, row) => {
                                    return "<div class='listItem " + addStatusClass(row.status) + "'>\
                                        <label>" + row.name + "</label><label>" + row.capitenNick + " & "
                                            + row.teamMemberNick + "</label>\
                                        <label>" + row.points + "</label>\
                                        <button id='" + row.capitenEmail + "' class='btn btn-sm btn-success gameRequest' data-oppteamname='" + row.name + "' data-toggle='modal' data-target='#myModal'>\
                                        <span class='glyphicon glyphicon-plus'></span>\
                                        <span>Challenge team</span></button></div>";
                                }
                            }
                        ]
                    });
                }
            };

            assetListActiveTeams.init();

        });

    </script>

<script src="~/Scripts/PublicChat.js"></script>
}
