@model IEnumerable<Atomac.DTO.DTORules>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DroppedCheck)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DroppedCheckMate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DroppedPawnOnFirstLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DroppedPawnOnLastLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DroppedFigureOnLastLine)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DroppedCheck)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DroppedCheckMate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DroppedPawnOnFirstLine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DroppedPawnOnLastLine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DroppedFigureOnLastLine)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
