@model Atomac.EFDataLayer.DTO.DTOAppUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<link href="~/Content/profile-details.css" rel="stylesheet" />
<link href="~/Content/chessboard-0.3.0.css" rel="stylesheet" />

<div id="#leftSide">
    <h1>PROFILE</h1>

    <div>
        <span>
            <label>
                Name
            </label>
            @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
        </span>
        <br />

        <span>
            <label>
                Nickname
            </label>
            @Html.DisplayFor(model => model.NickName)
        </span>
        <br />

        <span>
            <label>
                @Html.DisplayNameFor(model => model.Email)
            </label>
            @Html.DisplayFor(model => model.Email)
        </span>
        <br />
        <br />

        <label class="label1">
            @Html.DisplayNameFor(model => model.Points)
        </label>
        <label class="label1">
            @Html.DisplayNameFor(model => model.Tokens)
        </label>
        <label class="label1">
            @Html.DisplayNameFor(model => model.Title)
        </label>

        <div>
            <div id="points" class="numbers">
                @Html.DisplayFor(model => model.Points)
            </div>

            <div id="tokens" class="numbers">
                @Html.DisplayFor(model => model.Tokens)
            </div>

            <div id="title" class="numbers">
                <div>
                    @{ var sl = "../Content/trophies/" + Model.Title + ".png";}
                    <img class="numbersImg" src=@sl />
                </div>
            </div>
        </div>
        <br />

        <span>
            <label>
                @Html.DisplayNameFor(model => model.Wins)
            </label>
            @Html.DisplayFor(model => model.Wins)
        </span>
        <br />

        <span>
            <label>
                @Html.DisplayNameFor(model => model.Draws)
            </label>
            @Html.DisplayFor(model => model.Draws)
        </span>
        <br />

        <span>
            <label>
                @Html.DisplayNameFor(model => model.Losses)
            </label>
            @Html.DisplayFor(model => model.Losses)
        </span>
        <br />

        <br />

    </div>

</div>
<div id="tableSide">
</div>
