@{
    ViewBag.Title = "Rankings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/datatables")
<link href="~/Content/rankings.css" rel="stylesheet" />

<h2>@ViewBag.Title.</h2>

<div class="rankTableDiv">
    <table id="ranking-table" class="rankTable">
        <!-- ovde crta datatable -->
    </table>
</div>

<div class="myClassRankingDiv">
    <table id="myClassRanking" class="rankTable">
        <!-- ovde crta datatable -->
    </table>
</div>

@section scripts
{

    @Scripts.Render("~/bundles/datatables")

    <script type="text/javascript">

        var rankAllUsers;
        var myClassRank;

        $(() => {
            rankAllUsers = {
                dt: null,
                init: () => {
                    dt = $('#ranking-table').dataTable({
                        "serverSide": true,
                        "processing": true,
                        //"autoWidth": false,
                        "pageLength": 10,
                        "dom": 'ftp',
                        "language": {
                            "paginate": {
                                "next": "<span>→</span>",
                                "previous": "<span>←</span>"
                            }
                        },
                        "ajax": {
                            "url": "@Url.Action("GetAllUsers", "DataTables")",
                            "type": "POST"
                        },
                        "columns": [
                            { "title": "Username", "data": "nickName", "searchable": true, "sortable": true },
                            { "title": "Title", "data": "title", "searchable": false, "sortable": true },
                            { "title": "Points", "data": "points", "searchable": false, "sortable": true },
                        ]
                    });
                }
            };

            rankAllUsers.init();

        });


        $(() => {
            myClassRank = {
                dt: null,
                init: () => {
                    dt = $('#myClassRanking').dataTable({
                        "serverSide": true,
                        "processing": true,
                        //"autoWidth": false,
                        "pageLength": 10,
                        "dom": 'ftp',
                        "language": {
                            "paginate": {
                                "next": "<span>→</span>",
                                "previous": "<span>←</span>"
                            }
                        },
                        "ajax": {
                            "url": "@Url.Action("RankingInMyClass", "DataTables")",
                            "type": "POST"
                        },
                        "columns": [
                            { "title": "Username", "data": "nickName", "searchable": true, "sortable": true },
                            { "title": "Title", "data": "title", "searchable": false, "sortable": true },
                            { "title": "Points", "data": "points", "searchable": false, "sortable": true },
                        ]
                    });
                }
            };

            myClassRank.init();

        });

    </script>
    
}
